.ml {
    border: 1px solid red;
    width: 100%;
    box-sizing: border-box;
    padding: 96px 0;
}

.mli {
    max-width: 1300px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 32px 0;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
}

.mli div {
    /* width: 30%; */
}