.hw {
    width: 100%;
    box-sizing: border-box;
    padding: 96px 0;
    background-color: var(--primery);
    color: var(--text-light);
}

.hiw {
    max-width: 1300px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 72px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rotate {
    flex-direction: row-reverse;
}

.hsw {
    background-color: #fff;
    color: var(--primery);
}

.hi {
    width: 40%;
    height: 500px;
    overflow: hidden;
}

.hi img {
    width: 100%;
    height: 100%;
}

.hc {
    width: 55%;
}

.hc h1 {
    font-size: 54px;
    margin: 0 0 24px;
}

.hc h2 {
    font-size: 28px;
    margin: 0 0 18px;
}

.hc h4 {
    font-size: 22px;
    margin: 0 0 8px;
}

.hc p {
    font-size: 22px;
    margin: 0 0 54px;
}

@media (max-width: 1320px) {
    .hiw {
        padding: 72px 30px;
    }
}


@media (max-width: 920px) {
    .hiw {
        flex-direction: column;
    }

    .hi {
        width: 100%;
        margin: 0 0 24px;
    }

    .hc {
        width: 100%;
    }
    
}


