.hw {
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--primery);
}

.hfw {
    max-width: 1300px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 24px 0;
}

.hfw > h1 {
    font-size: 44px;
    color: var(--text-light);
}

.hfw ul {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.hfw ul li {
    cursor: pointer;
}

.hfw ul li a {
    padding: 12px 15px;
    font-weight: 800;
    font-size: 24px;
}


@media (max-width: 1320px) {
    .hfw {
        padding: 24px 30px;
    }
}


@media (max-width: 767px) {
    .hfw ul {
        display: none;
    }
}

