.hw {
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 99;
}

.hfw {
    max-width: 1300px;
    box-sizing: border-box;
    /* border: 1px solid purple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 24px 0;
}

.hfw > h1 {
    font-size: 44px;
}

.hfw ul {
    width: 276px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hfw ul li {
    cursor: pointer;
}

.hfw ul li a {
    padding: 12px 0;
    font-weight: 800;
    font-size: 24px;
}
