.fw {
    width: 100%;
    padding: 32px 0;
    background-color: var(--secondary);
}

.fiw {
    max-width: 1300px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fiw h1, p {
    color: var(--text-light);
}

@media (max-width: 1320px) {
    .fiw {
        padding: 32px 30px;
    }
}

