:root {
    --primery : #394E59;
    --secondary : #0d1b22;
    --text-light: #f0f0f0;
    --text-dark: #394E59;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Dancing Script", serif;
    background-color: var(--primery);
    color: var(--text-light);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.active {
    border-bottom: 5px solid var(--secondary);
    border-top: 5px solid var(--secondary);
}

a > button a.active {
    border-bottom: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-light);
}

button.sf {
    padding: 15px 24px;
    border: 2px solid transparent;
    border-radius: 35px;
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--text-light);
    font-weight: 800;
    font-size: 24px;
    transition: all 0.3s;
}

button.sf:hover {
    background-color: transparent;
    border: 2px solid var(--secondary);
    color: var(--secondary);
}

button.ss {
    padding: 15px 24px;
    border: 2px solid var(--secondary);
    border-radius: 35px;
    cursor: pointer;
    background-color: transparent;
    font-weight: 800;
    font-size: 24px;
    transition: all 0.3s;
}

button.ss:hover {
    background-color: var(--secondary);
    border: 2px solid transparent;
}