* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Dancing Script", serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #252525;
}

.active {
    border-bottom: 2px solid rgb(212, 110, 15);
}

a > button a.active {
    border-bottom: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #252525;
}

button.sf {
    padding: 15px 24px;
    border: 2px solid transparent;
    border-radius: 35px;
    cursor: pointer;
    background-color: rgb(212, 110, 15);
    color: #ebebeb;
    font-weight: 800;
    font-size: 24px;
    transition: all 0.3s;
}

button.sf:hover {
    background-color: transparent;
    border: 2px solid rgb(212, 110, 15);
    color: rgb(212, 110, 15);
}

button.ss {
    padding: 15px 24px;
    border: 2px solid rgb(212, 110, 15);
    border-radius: 35px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(212, 110, 15);
    font-weight: 800;
    font-size: 24px;
    transition: all 0.3s;
}

button.ss:hover {
    background-color: rgb(212, 110, 15);
    border: 2px solid transparent;
    color: #ebebeb;
}